<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>true</includeBaseDirectory>
    <fileSets>
    <fileSet>
        <outputDirectory>/</outputDirectory>
        <directory>src/main/resources</directory>
        <includes>
            <include>**/*</include>
        </includes>
    </fileSet>
    </fileSets>
    <dependencySets>
        <!--<dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
            </excludes>
        </dependencySet>-->
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>false</useTransitiveFiltering>
            <includes>
                <include>com.asquera.elasticsearch:http-basic</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>
